.DS_Store
.git
.github
.pnpm-store
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
**/__pycache__
apps/web-demo/.pytest_cache
apps/web-demo/server/venv
**/.env
**/.env.*
!**/.env.example
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
