AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
CONVOAI_BASE_URL=https://api-test.agora.io/api/conversational-ai-agent/v2/projects

AGORA_ASR_VENDOR=soniox
AGORA_ASR_API_KEY=
AGORA_ASR_MODEL=stt-rt-preview-v2

AGORA_LLM_URL=https://api.groq.com/openai/v1/chat/completions
AGORA_LLM_API_KEY=
AGORA_LLM_MODEL=llama-3.3-70b-versatile

AGORA_TTS_VENDOR=elevenlabs
AGORA_TTS_KEY=
AGORA_TTS_MODEL_ID=eleven_flash_v2_5
AGORA_TTS_VOICE_ID=
AGORA_TTS_SAMPLE_RATE=44100
